<?xml version="1.0"?>
<appSettings>
  <add key="smtp_host" value="smtp.mail.ru" />
  <add key="smtp_port" value="25" />
  <add key="smtp_mail" value="sn_test@mail.ru" />
  <add key="smtp_password" value="sntest" />
  <add key="base_application_url" value="http://localhost:49709/" />
  <add key="notify_service" value="textfile"/>
  <add key="textfile_path" value="C:\temp\temp.txt"/>
</appSettings>